<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/mult-pages.css" />
    <link rel="stylesheet" href="/stylesheets/sign.css" />

    <title>Sign UP</title>
  </head>
  <body>
    <a class="home-link" href="/">
      <div class="home-text">Home</div>
    </a>
    <h1>Create a TriTracker account!</h1>

    <h3>and start your journey!</h3>

    <div class="icon-container">
      <div class="swim-icon">
        <img
          class="swim-pic-icon"
          src="/icon-pics/swim.png"
          alt="swim picture"
        />
        <h3>SWIM</h3>
      </div>
      <div class="bike-icon">
        <img
          class="run-pic-icon"
          src="/icon-pics/bike.png"
          alt="bike picture"
        />
        <h3>BIKE</h3>
      </div>
      <div class="run-icon">
        <img class="run-pic-icon" src="/icon-pics/run.png" alt="run picture" />
        <h3>RUN</h3>
      </div>
    </div>

    <form action="/auth/sign-up" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" required />

      <label for="password">Password:</label>
      <input type="password" name="password" required />

      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" required />
      <button type="submit">Sign Up!</button>
    </form>
  </body>
</html>
