<nav>
  <% if(user) {%>

  <div class="nav-container">
    <a class="add-workout-link" href="/users/<%= user._id %>/workouts/new">
      <div class="add-workout-text">Add Workout</div>
    </a>

    <a class="our-community-link" href="/users">
      <div class="our-community-text">Our Community</div>
    </a>

    <a class="sign-out-link" href="/auth/sign-out">
      <div class="sign-out-text">Sign Out</div>
    </a>
  </div>

  <% } %>
</nav>
