<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index Page</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <a href="/users/<%=user._id%>/workouts/new">Add New Workout</a>
    <h1>Welcome to your Workouts Index Page!</h1>
    <br />
    <h3>SWIM BIKE RUN</h3>
    <!-- insert pics for swim, bike, run -->
  </body>
</html>
