<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <% if (user) {%>

    <a href="/users/workouts/index">My Workouts</a>
    <h1><%= user.username %>, welcome to TriTracker!</h1>
    <br />
    <h3>Your Triathlon Journey Begins Here!</h3>
    <% } else {%>
    <h1>Welcome to TriTracker!</h1>
    <br />
    <h3>Your Triathlon Workout Tracking App</h3>
    <% } %>
    <h3>SWIM BIKE RUN</h3>
    <!-- insert pics for swim, bike, run -->
    <%- include('./partials/_navbar.ejs') %>
    <!-- only needs 1 . for nav bar not .. -->
  </body>
</html>
