<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/mult-pages.css" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <title>Home Page</title>
  </head>
  <body>
    <% if (user) {%>
    <a href="/users/<%= user._id %>/workouts/index">My Workouts</a>
    <h1><%= user.username %>, welcome to TriTracker!</h1>
    <br />
    <h3>Your Triathlon Journey Begins Here!</h3>
    <% } else {%>
    <h1>Welcome to TriTracker!</h1>
    <br />
    <h3>Start Tracking Your Journey</h3>
    <% } %>
    <div class="icon-container">
      <div class="swim-icon">
        <img
          class="swim-pic-icon"
          src="/icon-pics/swim.png"
          alt="swim picture"
        />
        <h3>SWIM</h3>
      </div>
      <div class="bike-icon">
        <img
          class="run-pic-icon"
          src="/icon-pics/bike.png"
          alt="swim picture"
        />
        <h3>BIKE</h3>
      </div>
      <div class="run-icon">
        <img class="run-pic-icon" src="/icon-pics/run.png" alt="swim picture" />
        <h3>RUN</h3>
      </div>
    </div>
    <%- include('./partials/_navbar.ejs') %>
    <!-- only needs 1 . for nav bar not .. -->

    <footer>
      <a
        class="footer-link"
        href="https://www.freepik.com/icon/ocean_10894903#fromView=image_search_similar&page=1&position=31&uuid=adcdca9b-8989-40c7-a065-a21d8775816c"
      >
        <div class="footer-text">Icons by Boris Farias & Freepik</div>
      </a>
    </footer>
  </body>
</html>
