<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to TriTracker!</h1>
    <h3>Your Triathlon Workout Tracking App</h3>
    <h3>SWIM BIKE RUN</h3>
    <!-- insert pics for swim, bike, run -->
     <a href="/auth/sign-up">Sign Up</a>
     <a href="/auth/sign-in">Sign In</a>
  </body>
</html>
