@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Permanent+Marker&family=Rock+Salt&display=swap");

h1 {
  font-family: "Permanent Marker", cursive, sans-serif;
  font-weight: 400;
  font-size: 3em;
  font-style: normal;
  color: rgb(144, 13, 21);
  text-shadow: 0px 0px 5px white, 0px 0px 10px white, 0px 0px 10px white,
    0px 0px 10px white;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
}

h3 {
  font-family: "Rock Salt", cursive, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 75px;
  text-shadow: 0px 0px 10px rgb(144, 13, 21);
}

body {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #727171;
  color: white;
  max-width: 100vw;
  align-items: center;
}

button {
  font-family: "Rock Salt", cursive, sans-serif;
  font-weight: 400;
  align-self: center;
  margin: 10px 4px 4px 4px;
  background-color: rgb(144, 13, 21);
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  width: 15em;
  transition: ease-in-out 0.25s;
}

button:hover {
  transform: skew(-3deg, 3deg);
  border: 2px dashed white;
}

input {
  margin: 5px 0 10px 0;
}

.sign-in-link,
.sign-up-link,
.view-workouts-link,
.add-workout-link,
.our-community-link,
.sign-out-link {
  background-color: rgb(216, 75, 84);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(144, 13, 21, 1);
  transition: ease-in-out 0.25s;
}

.view-workouts-link:hover {
  transform: scale(1.15);
  border: 2px dashed white;
}
.add-workout-link:hover {
  transform: scale(1.15);
  border: 2px dashed white;
}
.our-community-link:hover {
  transform: scale(1.15);
  border: 2px dashed white;
}
.sign-out-link:hover {
  transform: scale(1.15);
  border: 2px dashed white;
}
.sign-in-link:hover {
  transform: scale(1.15);
  border: 2px dashed white;
}
.sign-up-link:hover {
  transform: scale(1.15);
  border: 2px dashed white;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.view-workouts-link,
.add-workout-link,
.our-community-link,
.sign-out-link {
  font-family: "Rock Salt", cursive, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.swim-icon,
.bike-icon,
.run-icon {
  filter: drop-shadow(0px 0px 5px rgb(144, 13, 21));
}
