.home-link {
  text-decoration: none;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}
.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 100px;
}

.bike-icon {
  margin: 0 -50px 0 -50px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  background-color: rgb(216, 75, 84);
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 5px 6px rgb(144, 13, 21);
  margin: 20px 325px;
}
