.home-link {
  font-family: "Rock Salt", cursive, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: white;
  text-decoration: none;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 20px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.bike-icon {
  margin: 0 -50px 0 -50px;
}
/* add font and more syling to form with hovers */

.home-text {
  background-color: rgb(216, 75, 84);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(144, 13, 21, 1);
  transition: ease-in-out 0.25s;
}

.home-text:hover {
  transform: scale(1.15);
  border: 2px dashed white;
}

form {
  font-family: "Rock Salt", cursive, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  background-color: rgb(216, 75, 84);
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 5px 6px rgb(144, 13, 21);
  margin: 20px 325px;
}
